:host {
  position: fixed;
  top: 0; left: 0; width: 100%;
  height: var(--topbar-h);
  z-index: 1000;
}

.topbar {
  height: 100%;
  padding: 0 12px;
  display: flex;
  align-items: center;
  background-color: #473a55;
  color: #c9c0d5;

  .brand { font-weight: 600; }
  .spacer { flex: 1; }
}
.topbar mat-icon {
  color:#c9c0d5
}